.mainPopup {
    padding: 10px;
    height: 180px;
    width: 180px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

.imgmargin {
margin-top: 10px;
margin-bottom: 15px;
}

.bgcolorbody{
background-color: rgb(248, 248, 248);
}